@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,500;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    

}

/* ##########################  Html styling#################### */
html{
    /* font-size: 10px; */
        /* 16px--->100%
        10px--->(100/16)*10 */
        font-size: 62.5%;
}

ul li{
    list-style: none;
   
}
a{
    /* font-size: 1.6rem; 16px */
    font-size: 1.6rem;   
    text-decoration: none; 

}
p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1, h2, h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}
/* ###################### utility classes########################## */

 .container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
   
} 

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: o.5em 0;

}
.btn-primary{
    background-color: #fff;
    border-radius: 100px;
}

.btn-primary:hover{
    background-color: lightpink;
}

.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 24px;
    color: #e63946;
    background-color: #fff;
}
.btn-secondary:hover{
    background-color: lightcoral;
}



.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;  /*22 px*/
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: #555;
}


/* ######################### header styling####################### */
.header{
    height: 95vh;
    /* border: 4px solid green; */
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.navbar{
    /* border: 2px solid white; */
    padding: 1rem;
}
/* .header .logo,
.header .navbar a{
    color:white ;
} */

.header .navbar .logo{
    float: left;
    padding-top: 10px;
    /* font-size: 3.5rem;      35px */
}
.header .navbar .nav-items{
    float: right;
    margin: 1rem;
}
.header .navbar .nav-item{
    display: inline-flex;
    padding: 1rem;
    text-transform: uppercase;

}

.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
    
}

.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
    color: #e63946;
    transform: translate(0px,10px);
}
.navbar .logo:hover{
    color: #e63946;
    
}


.navbar::after{
    content: "";
    display: block;
    clear: both;
}
/* 
######################Header Content######################### */

.header-content{
    /* border: 2px solid white; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50% ); 
     text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2) rgba(0,0,0,0.2)); 
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}

.header-content p{
    text-transform: uppercase;
    /* font-weight: 700; */
}

/* 
########################## Showcase Section Styling##################### */

.showcase{
    background-color: #ddd;
    padding: 100px 0;
}

.row{
    height: 350px;
    /* border: 2px solid red; */
    background-color: #fff;
    box-shadow: 5px 5px 20px  lightcoral;
}
.row1{
    margin-bottom: 100px;  /*10rem*/
}

.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}

.row .img-box{
    /* border: 6px solid blue; */
    height: 100%;   /*parent chya 100% madthye ghetli manje 350px  parent box aahe */
}

.row .text-box{
    /* border: 2px solid green; */
    padding: 30px;
    height: 100%;
}

.row .img-box img{
    display: inline-block;
    width: 100%; /* parent chya 100% ghenar img-box is a parent */ 
    height: 100%;
    object-fit: cover;

}
.row::after{
    content: "";
    display: block;
    clear: both;
    
}

/* ############################### Features section styling########################## */

.features{
    padding: 10rem 0;
}

.box-wrapper{
    /* border: 2px solid green; */
    box-shadow: 5px 5px 30px 0 #000 ;
    
}

.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.box{
    width: 33.3333%;
    float: left;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
   
}

.box-1, .box-3{
    background-color: #263238;
    color: #fff;
}

.box-2{
  background: linear-gradient(25deg,#d64c7f,#ee4758 50%);  
  color: #fff;
}

 
.box-1:hover{
    padding-left: 40px;
    background: purple;
}
.box-2:hover{
    padding-left: 40px;
    background: #d64c7f;
}
.box-3:hover{
    padding-left: 40px;
    background: lightseagreen;
}

/* #############################Footer Styles########################## */
.footer{
    background: #263238;
    color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.social-media-links i{
    margin: 2rem;
}



